{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.instagram.com/carlos_eduardo_abritta/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
        <a  href=https://github.com/CarlosAbritta>
            <img src="{% static 'assets/ícones/1x/github.png' %}" alt="ícone github">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Carlos Abritta</p>
</footer>